<h1>Welcome to YourMobile</h1>
<p>The best mobile phone store in London.</p>

<%= image_tag("samsung-black.png", class: "container col-md-4 col-sm-6 col-xs-12") %>
<%= image_tag("samsung-blue.jpg", class: "container col-md-4 col-sm-6 col-xs-12") %>
<%= image_tag("samsung-white.png", class: "container col-md-4 col-sm-6 col-xs-12") %>
